{% extends "base.html" %}

{% block content %}
  <h1>{% block title %}{{ _('Register') }}{% endblock %}</h1>
  <form action="" method="POST">
    {{ form.hidden_tag() }}

    <ul>
      <li>
        {{ form.username.label }}
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
          <span class="error">[{{ error }}]</span>
        {% endfor %}
      </li>
      <li>
        {{ form.email.label }}
        {{ form.email(size=32) }}
        {% for error in form.email.errors %}
          <span class="error">[{{ error }}]</span>
        {% endfor %}
      </li>
      <li>
        {{ form.password.label }}
        {{ form.password(size=32) }}
        {% for error in form.password.errors %}
          <span class="error">[{{ error }}]</span>
        {% endfor %}
      </li>
      <li>
        {{ form.password2.label }}
        {{ form.password2(size=32) }}
        {% for error in form.password.errors %}
          <span class="error">[{{ error }}]</span>
        {% endfor %}
      </li>
      <li>
        {{ form.submit }}
      </li>
    </ul>
  </form>
{% endblock %}
