{% extends "base.html" %}

  {% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="POST">
      {{ form.hidden_tag() }}

      <ul class="reset-password--form-items">
        <li class="reset-password--form-item">
          {{ form.password.label }}
          {{ form.password() }}
          {% for error in form.password.errors %}
            <span class="error">[{{ error }}]</span>
          {% endfor %}
        </li>
        <li class="reset-password--form-item">
          {{ form.password2.label }}
          {{ form.password2() }}
          {% for error in form.password2.errors %}
            <span class="error">[{{ error }}]</span>
          {% endfor %}
        </li>
        <li class="reset-password--form-item">
          {{ form.submit() }}
        </li>
      </ul>
    </form>
  {% endblock %}