<ul
  class="post"
  {% if post.language and post.language != g.locale %}
    data-post-language="{{ post.language }}"
    data-post-locale="{{ g.locale }}"
    data-translate-post="{{ post.id }}"
  {% endif %}
>
  <li class="post--metadata">
    <h3 class="post--metadata__title" data-translate-post-title>{{ post.title }}</h3>
    <span class="post--metatadata__author">
      <img
        class="post--avatar__img"
        src="{{ current_user.avatar(32) }}"
        alt="Avatar for {{ current_user.username }}"
      >
      {{ post.author.full_name() }}
    </span>
    <span class="post--metatadata__timestamp">
      {{ _('posted') }} {{ moment(post.timestamp).fromNow() }}
    </span>
  </li>
  <li class="post--body" data-translate-post-body>
    {{ post.body }}
  </li>
  {% if post.language and post.language != g.locale %}
    <li class="post--translate">
      <button class="post--translate__link" data-translate-post-trigger>{{ _('Translate') }}</button>
    </li>
  {% endif %}
</ul>
