{% extends "base.html" %}

{% block content %}
  <h1>{{ title }}</h1>
  <form action="" method="POST">
    {{ form.hidden_tag() }}

    <ul class="reset-password--form-items">
      <li class="reset-password--form-item">
        {{ form.email.label }}
        {{ form.email() }}
        {% for error in form.email.errors %}
          <span class="error">[{{ error }}]</span>
        {% endfor %}
      </li>
      <li class="reset-password--form-item">
        {{ form.submit() }}
      </li>
    </ul>
  </form>
{% endblock %}